[2020-10-05 10:12] lelouchB opened #1 "Refactor index.js:Home"
I've selected [**index.js:Home**](https://github.com/lelouchB/final-space-api/blob/02721df95fde8efea551d5d46891b324201e20f1/frontend/src/pages/index.js#L9-L156) for refactoring, which is a unit of **146** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code** guideline rating! 👍

Here's the gi

[2020-10-05 11:04] lelouchB opened #2 "Write Tests (Backend || Express)"
Write tests for both backend and frontend code.

[2020-10-05 11:14] lelouchB opened #3 "Update character images to be consistent (300x300)"
### Currently the character images in  `./backend/images` folder are of different sizes.

### Generate new images 300x300px  jpg format.

- [x]   **Indicates that the 300x300px image exists for that character.**

Here is the complete list of characters we need images for

- [ ] Gary Goodspeed
- [ ] Mooncake
- [ ] Quinn Ergon
- [ ] Little Cato
- [ ] Avocato
- [ ] KVN
- [ ] Ash Graven
- [ ] Fox
- [

[2020-10-05 11:29] lelouchB opened #4 "Contribute data to Episode endpoint"
# Reopened to include Season 3 Episodes

The `/episode` endpoint is currently in progress.
Contribute data for individual episodes of Final Space in the given schema.

Resource: https://final-space.fandom.com/wiki/Final_Space_Wiki

P.S. You can leave the field for `img_url`.

You can send a PR with the data in JSON format to the `endpoint` branch under `episode` folder.

Here is the schema for `/e

[2020-10-05 11:41] lelouchB opened #5 "Add NodeJS CI Workflow"
Relies on #2  i.e. after Tests have been written.

Here is a possible

[code]

[2020-10-05 14:26] cjdeleon62 commented on #1
Hi! Can I take this issue?

[2020-10-05 14:29] lelouchB commented on #1
Ofcourse @cjdeleon62
Let me assign this to you.

Thanks 😊

[2020-10-05 14:34] lelouchB commented on #1
@cjdeleon62
It doesn't exactly have to be 15 lines.

Just a little small or separate components are fine tooo.

Thanks

[2020-10-05 14:56] GerryLarios commented on #4
I would like to help, can you assign me this issue?

[2020-10-05 14:59] lelouchB commented on #4
Ofcourse @GerryLarios

You can find the data here

https://final-space.fandom.com/wiki/Final_Space_Wiki

Let me know if have any questions.

Thanks 😊

[2020-10-05 15:46] SeguinLoic commented on #3
Hello !
Can i take this issue ? :)

[2020-10-05 15:48] lelouchB commented on #3
Yes @SeguinLoic

I will assign this issue to you.

Let me know if you have any questions.

Which image are you planning of generating?

Thanks

[2020-10-05 15:52] SeguinLoic commented on #3
Thank you !
I think i'll generate all of them ;)

[2020-10-05 16:00] lelouchB commented on #3
@SeguinLoic
Thank you
That will be really helpful.

Just a suggestion,  make sure the images you generate either by editing images on the web or taking screenshots during the episode, are close up of face and upper body.

Thanks 🙂

[2020-10-06 02:09] GerryLarios commented on #4
Hello @lelouchB, where can I put the JSON with the episode's data?

[2020-10-06 02:54] lelouchB commented on #4
Hey @GerryLarios
I am creating a new branch `endpoint `
You can send the PR to that branch.
You will find a folder named  `episode ` there. You can create the JSON file under it.

Thanks 😊

[2020-10-06 03:34] lelouchB opened #16 "Contribute data to Location Endpoint"
# Reopened to include Season 3 locations

The `/location` endpoint is currently in progress.

You can contribute data for locations in Final Space in the given schema.

Resource: https://final-space.fandom.com/wiki/Category:Location

P.S. You can leave the field for img_url.

You can send a PR with the data in  JSON format to the `endpoint` branch under `location` folder.

Here is the schema for `

[2020-10-06 03:43] lelouchB opened #17 "Serve images in next-gen formats - (WebP)"
Image formats like JPEG 2000, JPEG XR, and WebP often provide better compression than PNG or JPEG, which means faster downloads and less data consumption.

Change the format of the following images to **WebP**.
(Note: this is only for the [images](https://github.com/lelouchB/final-space-api/tree/main/frontend/static/img) under `frontend/static/img` which are displayed on the landing page.)

- [x]

[2020-10-06 03:50] lelouchB opened #18 "Contribute data to Character endpoint (40 characters exists)"
The `/character` endpoint currently has **~25~**  **~40~** characters.  (Update #25 )

There are still few characters that we can add to this endpoint.

Contribute data for individual characters of Final Space in the given schema.

Resource: https://final-space.fandom.com/wiki/Category:Characters

P.S. You can leave the field for `img_url`.

You can send a PR with the data in JSON format to the `e

[2020-10-06 04:17] AldoTu commented on #17
Hi @lelouchB, I can help you with this.

[2020-10-06 04:18] lelouchB commented on #17
Hey @AldoTu
I will assign this issue to you.
Thanks

[2020-10-06 04:29] JuanVqz commented on #2
I’d like to take this one because I want to practice doing testing with JavaScript. I hope you can be my mentor in it’s needed.
where can I watch the serie, is it free? I didn’t hear about it before,

[2020-10-06 04:41] lelouchB commented on #2
Hey Hey @JuanVqz
Awesome, I will assign you this issue 👍

Yes, I will help you if needed.

I don't have a recommendation but [mocha](https://www.npmjs.com/package/mocha) is fine with me.

Are you planning on writing tests for both backend and frontend?

I will recommend writing tests for backend folder, there are many resources on the same to help you.

The series is available on Netflix, so unfor

[2020-10-06 05:08] AldoTu commented on #17
Done @lelouchB :)

[2020-10-06 05:54] lelouchB commented on #17
@AldoTu
Thanks for your contribution 👍
Feel free to work on other issues or create your own.

I am sure there are lot o things that you can help with like documentation, README updates, etc.

Looking forward to your future contributions. 💯

[2020-10-06 05:54] #17 closed

[2020-10-06 06:17] lelouchB opened #20 "Create a logo for this API"
Currently, this image is used as logo and favicon.

![](https://finalspaceapi.com/img/logo.png)

# Create a new logo for this API

I would suggest becoming familiar with Final Space will be beneficial.
Even Mooncake can be used as a logo.

It's upto your imagination.

[2020-10-06 06:31] chandresh1339 commented on #20
Do you want a NEW LOGO created for Final Space? . If yes, please I can work on this request.

[2020-10-06 06:36] lelouchB commented on #20
@chandresh1339
Hey Hey
Yes, I want a logo designed specific for this project.

I will assign this issue to you.
Are you familiar with Final Space?

I would love if you can add few characters maybe [Mooncake](https://final-space.fandom.com/wiki/Mooncake) in the logo, and if you are designing something text based. Make sure it reads **Final Space API**.

Let me know if you have any questions.
Lookin

[2020-10-06 07:35] lelouchB opened #21 "Create README.md for backend folder"
Create a basic README.md file for the backend server.

The README should include but not limited to
- Getting Started
- Project Structure
- How to Install?
- Run Development Server
- Tech Stack (list of dependencies)

[2020-10-06 08:43] Skr-suyash commented on #21
I would like to work on this please assign this to me

[2020-10-06 08:44] lelouchB commented on #21
Go for it  👍
@Skr-suyash

[2020-10-06 10:13] stevenjburrows commented on #18
I will add some more to this for you.

[2020-10-06 10:23] lelouchB commented on #18
Thanks @stevenjburrows
I will assign this issue to you then.

[2020-10-06 10:42] stevenjburrows commented on #18
I will add some more to this for you what do you want for origin as the wiki doesn't mention it for the three I have looked at

[2020-10-06 10:45] lelouchB commented on #18
Hey,
You can add `Unknown` in such cases,

There are many characters with less information,

You can refer here for more such queries,

https://finalspaceapi.com/api/v0/character

Thanks

[2020-10-06 11:02] #1 closed

[2020-10-06 11:57] GerryLarios commented on #4
@lelouchB Thanks! Working on it

[2020-10-06 11:58] GerryLarios commented on #16
Hello, Can I help with this issue as well?

[2020-10-06 12:05] lelouchB commented on #16
Ofcourse, @GerryLarios

This should be pretty simple as there is not much location information available on the fandom.

I would request you to give every location a read on fandom, they are not that big and will with generating data.

If you have any question or idea about the schema, do let me know.

Thanks, assigning this to you. 👍

[2020-10-06 12:24] lelouchB opened #24 "Add GitHub Star button to the Landing Page"
Add a GitHub star button on the landing page.

![image](https://user-images.githubusercontent.com/45850882/95198811-74a2a780-07f9-11eb-8daf-8b6b5a3b95a9.png)

Here is how docusaurus do it. https://v2.docusaurus.io/

![image](https://user-images.githubusercontent.com/45850882/95200866-b2ed9600-07fc-11eb-8883-b8ce9127a3d0.png)

You can refer to their code here.  https://github.com/facebook/docusauru

[2020-10-06 12:26] Joaolfelicio commented on #24
Hi @lelouchB can you assign this to me?
Thanks.

[2020-10-06 12:29] lelouchB commented on #24
@Joaolfelicio Of course
Let me know if you have any questions.

[2020-10-06 12:39] lelouchB opened #26 "Add 300x300px jpeg Images for new Characters"
#18  and #25

@stevenjburrows added 15 new characters to the database.

Before adding them to the API response, good 300x300px images are required.

Create images for thses new characters.

Refer #3 and #15

Resources - https://final-space.fandom.com/wiki/Category:Characters

[2020-10-06 12:42] #21 closed

[2020-10-06 12:52] lelouchB commented on #18
Update : After #25 there are 40 characters in the database now, I am keeping this issue open,  just in case someone come across a character that isn't present in the database and want to work on it.

[2020-10-06 13:00] mahendrarathore1742 opened #27 "Add 404 Page"
After random url its not showing 404 not found page,

[2020-10-06 13:01] lelouchB commented on #27
Hey @mahendrarathore1742 Can you share a screenshot for this and a random URL.

Thanks

[2020-10-06 13:15] mahendrarathore1742 commented on #27
it's showing Cannot GET /shdfdushfusdhfuashjkDJSDFHJSDBFHJSBDHJASB

[2020-10-06 13:23] lelouchB commented on #27
Great 👍
Amazing work
I will create an issue for this and assign it you

Thanks

[2020-10-06 13:23] #27 closed

[2020-10-06 13:24] lelouchB opened #29 "Add 404 Page"
There is no 404 page, so add one. #27

Head to https://finalspaceapi.com/404
Thanks @mahendrarathore1742 for this issue.

Error expected :
![image](https://user-images.githubusercontent.com/45850882/95207303-5a6ec680-0805-11eb-916e-bfab6a816995.png)

[2020-10-06 13:26] lelouchB commented on #27
Please comment on #29 so I ca assign it to you.
Thanks

[2020-10-06 13:34] lelouchB commented on #29
hey @mahendrarathore1742
Comment on this issuse so I can assign it you.
Thanks

[2020-10-06 13:40] trybick commented on #5
I've worked with github actions/workflows before. Can I take this one after the tests are written?

[2020-10-06 13:40] mahendrarathore1742 commented on #29
keep it up sir , you can do it,

[2020-10-06 13:46] lelouchB commented on #29
Hey @mahendrarathore1742
I don't quite follow.

Looking forward to your contributions

[2020-10-06 13:52] lelouchB commented on #5
Ofcourse @trybick
@JuanVqz is working on #2
In the meantime, I will assign this to you.

Thanks

[2020-10-06 13:53] trybick commented on #2
When this is done, please ping me in issue #5  :) - then I will start the testing workflow action

[2020-10-06 17:15] ayush-git228 commented on #29
Can I contribute to this.

[2020-10-06 17:29] lelouchB opened #30 "Add headers to docs"
Currently  all of the docs under `frontend/docs` are missing headers.

Add the required headers for better SEO.

Refer here https://v2.docusaurus.io/docs/markdown-features#markdown-headers

P.S. you can leave the image part.

[2020-10-06 17:29] Skr-suyash commented on #29
I would like to contribute on this. It is nearly completed so please assign this to me

[2020-10-06 17:30] lelouchB opened #31 "Add Headers to docs"
Currently  all of the docs under `frontend/docs` are missing headers.

Add the required headers for better SEO.

Refer here https://v2.docusaurus.io/docs/markdown-features#markdown-headers

P.S. you can leave the image part.

[2020-10-06 17:30] lelouchB commented on #29
Hey @ayush-git228
@mahendrarathore1742 is working on this issue.

I just created a new issue #31 let me know if you are interested in that issue.

[2020-10-06 17:32] #30 closed

[2020-10-06 17:34] lelouchB commented on #29
@Skr-suyash
Like I said @mahendrarathore1742 is working on this
If you are done with your commit, feel free to send a PR.

I will take a look at your PR and @mahendrarathore1742  PR, merge both of them and revert one
This is only if you have completed this issue.

Thanks

[2020-10-06 17:38] dmb1107 commented on #31
Can I be assigned to work on this?

[2020-10-06 17:42] lelouchB opened #32 "Add Examples to the Documentation"
There is only one example present right now in the documentation i.e. Live React Example which can be found here
https://finalspaceapi.com/docs/react/

Docusarus uses React Live for the interactive coder so it will only support React.

Add more example with the language and frameworks of your choice.

Resource:
https://v2.docusaurus.io/docs/markdown-features/#syntax-highlighting

https://v2.docusa

[2020-10-06 17:43] lelouchB commented on #31
Yeah Sure
@dmb1107
Thanks
Looking forward to your contributions.

[2020-10-06 17:44] lelouchB commented on #29
@Skr-suyash and @ayush-git228
#31 is no longer available
But you can contribute to #32
Since there can be many examples, you both can contribute to it.

Thanks

[2020-10-06 17:44] fernandoamz commented on #32
@lelouchB, May I add an example with react + axios ?

[2020-10-06 17:46] fernandoamz commented on #32
@lelouchB, May I add an example with Vainilla too? and with Ajax ?

[2020-10-06 17:49] lelouchB commented on #32
Hey @fernandoamz
Lets do one at a time, I am assigning you for React + Axios

After you are done with, if other are available
I will assign it you
Thanks

Looking forward to your contributions.

[2020-10-06 18:01] lelouchB opened #33 "Add Docusarus Image Plugin and configure the images"
Docusarus provides ideal image plugin.  This plugin will optimize images in the production build.

https://v2.docusaurus.io/docs/using-plugins#docusaurusplugin-ideal-image

Add this plugin and update the images in the frontend folder, specifically  the images on the landing page

Here is the permalink for the code that needs to be updated

https://github.com/lelouchB/final-space-api/blob/9a4f0d6b3

[2020-10-06 18:05] lelouchB opened #34 "Add Docusarus PWA plugin"
Add this plugin and configure it with proper images and theme colors.

https://v2.docusaurus.io/docs/using-plugins#docusaurusplugin-pwa

Let me know if you have any questions.

[2020-10-06 18:06] lelouchB opened #35 "Add Docusaurus Google Analytics plugin"
Add this plugin

https://v2.docusaurus.io/docs/using-plugins#docusaurusplugin-google-analytics

P.S. you can leave the `trackingId` blank, I will fill it myself.

[2020-10-06 18:18] jadonwolffs commented on #34
Can I give this a go?

[2020-10-06 18:20] lelouchB commented on #34
@jadonwolffs ofcourse.

Looking forward to your contributions.

[2020-10-06 18:24] PSmigielski commented on #35
i would love to tackle this task

[2020-10-06 18:25] lelouchB commented on #35
@lelouchB awesome 👌
Looking forward to your contributions.
Thanks

[2020-10-06 18:41] lelouchB opened #36 "Add Introduction to the Docs"
Currently the introduction to the API is  very small.

https://finalspaceapi.com/docs/

This is a documentation issue,  write a good introduction ot the API.

Word Limit - 250 to 300 words. This is just a suggestion, even if you end up writing 500 words, just send the PR  we will work something out.

[2020-10-06 18:50] PSmigielski commented on #35
Should IP be anonymized?

[2020-10-06 19:14] fernandoamz commented on #32
HI @lelouchB, Could you share with me an example as to how to install Axios into docosaurus?

[2020-10-06 19:39] fernandoamz commented on #32
HI @lelouchB, Could you share with me an example as to how to install Axios into docosaurus?

[2020-10-06 20:27] jadonwolffs commented on #34
I've configured it like their docs instruct and it seems to spawn a serviceworker and pre-cache assets but it doesn't seem to show the option to install from the browser as it's supposed to, any idea why?

[2020-10-06 20:39] kavita121 commented on #20
Hey can I still work on this?

[2020-10-06 20:39] bobluppes commented on #36
Hi @lelouchB, I have going through te documentation a bit today and I would like to work on this. Could you assign this to me?

[2020-10-06 20:49] fluentinstroll commented on #33
Hi! Can I handle this issue?

[2020-10-06 20:55] fernandoamz commented on #32
👋 Hey @lelouchB, I am new on docusaurus, May you share me an example as to how to add an import into the `theme-live-codeblock`? I searched information but I couldn't resolve it. Thanks.

[2020-10-07 01:58] mowens86 commented on #26
Hi,

Did you need 300x300 images for these characters? https://github.com/lelouchB/final-space-api/pull/25/files

If no one has claimed this or is working on it, I'd be up to the task.

[2020-10-07 02:11] lelouchB commented on #26
Yes @mowens86
Thats correct we need images for these new characters
#25
I will assign this to you

[2020-10-07 02:12] lelouchB commented on #20
Yes @kavita121
You can also work on this.

[2020-10-07 02:18] lelouchB commented on #32
Hey , @fernandoamz
Sorry for the late response
I see that you have figured this issue out. Great 👍

[2020-10-07 02:19] lelouchB commented on #36
Hey @bobluppes
I will assign this to you.

Looking forward to your contributions.

[2020-10-07 02:23] lelouchB commented on #33
Hey @fluentinstroll
I will assign this to you.

Let me know if you have any questions.

Looking forward to your contributions.

[2020-10-07 02:28] lelouchB commented on #34
Hey @jadonwolffs
Can you send a PR with the changes.

I am sure it will be a small issue and we will tackle it. 👍

[2020-10-07 03:38] lelouchB opened #41 "Create images for Episode endpoints (640x360)"
# Reopened to include Season 3 Episode Images
Epsiode endpoint is under construction  #4 and #28

There are 23 images that need to be created, keep the size 640x360px

[2020-10-07 03:50] lelouchB commented on #41
@mowens86 are you interested in this?

[2020-10-07 04:04] lelouchB commented on #4
@GerryLarios  Amazing work 👍
Really appreciate it,

I will ping you once the endpoint is live.
Thanks

[2020-10-07 04:06] lelouchB commented on #26
@mowens86
Amazing work
Really appreciate it.

Let me know if you are interested in other issues as well
I will ping you once these images are live and reflected in API response.
Thanks

[2020-10-07 04:06] #26 closed

[2020-10-07 04:23] #35 closed

[2020-10-07 04:32] #31 closed

[2020-10-07 06:35] lelouchB opened #43 "Add LIMIT param to Character endpoint"
Add the LIMIT parameter to the character endpoint.
Users can limit the number of responses from the API

Something like this
https://finalspaceapi.com/api/v0/character?limit=4

This will result in first 4 characters in the Database

Resources
https://stackabuse.com/get-query-strings-and-parameters-in-express-js/
https://expressjs.com/en/resources/middleware.html
 https://masteringjs.io/tutorials/e

[2020-10-07 06:41] lelouchB opened #45 "Add Documentation for Episode endpoint"
The `episode` endpoint will be live soon..

Refer to  #4 and #28 and #42

Follow this:
https://finalspaceapi.com/docs/character

[2020-10-07 07:21] PSmigielski commented on #43
Can you assign me to this task?

[2020-10-07 07:23] lelouchB commented on #43
@PSmigielski
Sure
Let me know if you need any help.
Thanks

[2020-10-07 07:23] lelouchB commented on #29
Hey @mahendrarathore1742
What is the progress on this?

[2020-10-07 07:43] lelouchB opened #49 "Add SORT param to Character endpoint"
Add a sort parameter which lets the user sort the response based on `id`.

https://finalspaceapi.com/api/v0/character/?sort=desc
Return the response starting from 40

https://finalspaceapi.com/api/v0/character/?sort=asc
This response will be same as https://finalspaceapi.com/api/v0/character/  i.e. from 1 to 40.

So, https://finalspaceapi.com/api/v0/character/ is the same as https://finalspaceapi.

[2020-10-07 08:17] daretobedifferent18 commented on #49
I want to work on this issue, pls assign this to me.

[2020-10-07 08:30] lelouchB commented on #49
Sure @daretobedifferent18

Looking forward to your contributions.

Let me know if you have any questions.

[2020-10-07 08:46] daretobedifferent18 commented on #49
https://finalspaceapi.com/api/v0/character/?sort=desc is returning in ascending order of id only, so I have to fix this?

[2020-10-07 08:48] lelouchB commented on #49
Currently there is no SORT parameter, so every query will result in the same respone.
The issue is for creating one.

[2020-10-07 09:04] Thanarathanam commented on #49
Sorry, @lelouchB @daretobedifferent18  When I saw this issue It was unassigned. So I started working. Now only I came back and see the comments

[2020-10-07 09:05] lelouchB commented on #49
@Thanarathanam
You should have commented to be assigned.
I guess I will merge both your and @daretobedifferent18 PR and revert one of them.

Thanks for your contribution

[2020-10-07 09:33] PSmigielski commented on #43
i can't connect to remote mongodb database

[2020-10-07 09:34] lelouchB commented on #43
Hey
You can use a local database with test or dummy data.

[2020-10-07 09:36] MrDoomy commented on #45
Hi! 👋
I'd like to help, can you assign to me this issue?

[2020-10-07 09:40] mahendrarathore1742 commented on #29
almost done!

[2020-10-07 09:41] lelouchB commented on #45
Sure @MrDoomy
Let me know if you have any questions.

[2020-10-07 10:18] deepharshsri commented on #20
hey, can I know what is to be written on the logo?

[2020-10-07 10:19] lelouchB commented on #20
Hey 👋
It should read

Final Space API

Thanks

On Wed, Oct 7, 2020, 3:48 PM Deepansh Srivastava <notifications@github.com>
wrote:

[2020-10-07 10:28] daretobedifferent18 commented on #49
Please review PR #51

[2020-10-07 10:30] deepharshsri commented on #20
Let me clear, the above logo you have mentioned is your current logo and you want a new logo having the "Final  Space written and mooncake logo design " in it???

[2020-10-07 10:33] lelouchB commented on #20
Mooncake is not a design but a character. I want the logo either text based that reads "Final Space API" or image based made with Final Space characters.
Thanks

Here is mooncake

![image](https://user-images.githubusercontent.com/45850882/95320029-7e3e1500-08b6-11eb-8091-0b6b7bce333f.png)

[2020-10-07 10:35] MrDoomy commented on #45
Chookity Pah! 😉

I make a draft locally, can I push my code on a new branch (and which one)?

I'd like to update this documentation with the real data structure. In fact, I'd to know what kind of array are `air_date` and `characters`: `string`s only? Or specific date formats? In the same way, what kind of data structure for `characters`: `string`s (again)? `id`s only? Or objects (like `/character`

[2020-10-07 10:40] lelouchB commented on #45
Hey @MrDoomy
you can send your PR to `episode` branch to the `frontend/docs/episode.md`

For the schema: refer to #28 and #42

Here is the data for first episode

[code]

[2020-10-07 10:43] MrDoomy commented on #45
@lelouchB Thank you! 🙏 I'll do that.

[2020-10-07 11:19] lelouchB commented on #43
Hey @PSmigielski
 #49 and #51 #50  are somewhat related to this

See this comment:

https://github.com/lelouchB/final-space-api/pull/51#pullrequestreview-503771740

Both these code blocks will go in `helpers/options.js`  file.

Let me know if you have any questions

[2020-10-07 11:26] lelouchB commented on #24
Hey @Joaolfelicio
Is there any update on this?

Just checking in

Thanks

[2020-10-07 11:27] lelouchB commented on #2
Hey @JuanVqz
Is there any update on this?

Just checking in

Thanks

[2020-10-07 11:28] Joaolfelicio commented on #24
Hi @lelouchB!
Still haven't had the time to, will implement this after I get off work today.
Thanks

[2020-10-07 11:29] lelouchB commented on #24
Of course @Joaolfelicio
No rush

Thanks

[2020-10-07 11:58] deepharshsri commented on #20
Sir, I have created a logo, and  what I understand you want to update the logo in the image folder of frontend and make a favicon so that when we click on that logo it goes to  "/api" path.

[2020-10-07 12:00] lelouchB commented on #20
Hey, @deepharshsri No Sir required, we are all learners here.

You can send that logo in a PR to `endpoint`  branch and we will proceed from there. No faviocn required just yet.
Thanks

[2020-10-07 13:08] JuanVqz commented on #2
I'll start doing this today afternoon, I'll use jest I saw it is kind of the standard, is it okay?
I found the serie, I started to see it

[2020-10-07 13:12] MrDoomy commented on #41
Hi @lelouchB,
I can do this, if you want 😉
Just a question, where can I drop resources when it is done? 🤔

[2020-10-07 13:22] lelouchB commented on #41
You can send the images to `endpoint` branch, there is a folder named `episode` there.
Assigning this to you
Thanks :)

[2020-10-07 13:23] lelouchB commented on #2
Great 👍

I am fine with jest.

Let me know if you have any questions.

[2020-10-07 13:25] #45 closed

[2020-10-07 13:28] #49 closed

[2020-10-07 13:30] lelouchB commented on #43
Hey @PSmigielski
 #51 is finished, you can follow it and add a `limit` field to `helpers/options.js`.

Should be pretty straightforward.

[2020-10-07 14:11] #34 closed

[2020-10-07 14:21] PSmigielski commented on #43
Ok

[2020-10-07 16:00] lelouchB opened #58 "Convert background of PWA images to transparent."
following #48

Mooncake image  was used as PWA logo  but that image has grayish background which doesn't look good.

Your mission should you choose to accept it
Take this Mooncake image or another similar from web

![unnamed](https://user-images.githubusercontent.com/45850882/95356301-261e0780-08e4-11eb-9bed-c5b6d34062e3.png)

Generate icons  here https://www.pwabuilder.com/imageGenerator

And upd

[2020-10-07 16:09] mayank commented on #58
@lelouchB All images need to be replaced? Including Splash screen?

[2020-10-07 16:12] Joaolfelicio commented on #24
Interesting project, let me know if you need help with something more elaborated in the FE.

[2020-10-07 16:13] lelouchB commented on #24
@Joaolfelicio
Ofcourse

Thanks for your contributions.

[2020-10-07 16:15] lelouchB commented on #58
When you Generate logo from the website,  just replace everything in `pwa` folder.

Remember to rename the image before generating images.

After updating test the build on your local machine.

Are you interested in this issue?

[2020-10-07 16:18] Skr-suyash opened #60 "Make the main README more informative and nice-looking"
**Is your feature request related to a problem? Please describe.**
The README lacks some important features related to contribution for beginners and some other features need to be added.

**Describe the solution you'd like**
Adding badges and writing a clear and concise guideline for contribution

**Additional context**
I would be adding some badges to give it a modern look and some other edits

[2020-10-07 16:18] Skr-suyash commented on #60
Please assign this issue to me

[2020-10-07 16:21] lelouchB commented on #60
@Skr-suyash
I am assigning this to you.

Just make sure the changes are significant and valuable.

Thanks

[2020-10-07 17:12] jackie-kinsler commented on #58
I'm interested in this issue. Want me to work on it? Or @mayank, are you on it?

[2020-10-07 17:16] lelouchB commented on #58
Hey  @jackie-kinsler

I am assigning this issue to you.

Let me know if you have any questions.

Like I said it should be pretty straightforward.

[2020-10-07 18:35] mhalsubhi opened #64 "Add data seeder to backend"
When cloning a project locally, there is no data to start with for testing or experiment with, so it will be nice if there's a seeder to seed data to the local database.

I'm thinking of adding an npm script called `seed` so we will have command `npm run seed` to seed local database with current actual data fetched from [api](https://finalspaceapi.com/api/v0/character)

so basically the `npm run s

[2020-10-07 19:08] DarkDevCY commented on #24
Hello, is this still available?

[2020-10-07 19:15] kunaljain0212 commented on #64
@mhalsubhi  Can I work on this issue, please?

[2020-10-07 22:25] bobluppes opened #67 "Bug in readme npm command"
**Describe the bug**
The frontend contributing section of the readme states to run `npm run server`. However, `server` is not recognized an an npm script.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to '/frontend`
2. Run `npm run build`
3. Run `npm run server`

**Expected behavior**
The development server is expected to spawn on `localhost:3000`.

**Desktop (please complete the

[2020-10-07 22:31] bobluppes commented on #32
Hey @lelouchB, could I make an example in Vue.js? Would very much like to try out your API at the same time ;)

[2020-10-08 04:05] guzbarraf commented on #64
Hello, I would like to collaborate with this

[2020-10-08 05:02] lelouchB commented on #32
@bobluppes
Ofcourse
I will assign this issue to you as well.

[2020-10-08 05:15] lelouchB commented on #64
@mhalsubhi
This is awesome, this was on my ToDo.

Thanks for making an issue for this.

@guzbarraf  sure, you both can collaborate on this.

I will assign this to both of you. 💯

[2020-10-08 05:19] #36 closed

[2020-10-08 05:20] #67 closed

[2020-10-08 05:21] lelouchB commented on #67
#66 solved this.
Thanks @bobluppes

[2020-10-08 05:28] lelouchB commented on #24
No @DarkDevCY This is already completed and is in process to ship to production.

You can try #32 if that interests you?

Thanks

[2020-10-08 05:28] #24 closed

[2020-10-08 05:34] #58 closed

[2020-10-08 05:39] lelouchB commented on #29
@mahendrarathore1742
Any word on this?

[2020-10-08 05:40] lelouchB commented on #33
@fluentinstroll
Any update on this ?

Just checking in.
Thanks

[2020-10-08 05:41] #60 closed

[2020-10-08 05:42] lelouchB commented on #2
@JuanVqz
How is the work going on this?

Confirming: You are working on tests in backend directory i.e. `express` server right ?

[2020-10-08 05:43] lelouchB commented on #20
@kavita121 and @chandresh1339
Any update on this ?

[2020-10-08 05:46] lelouchB commented on #16
@GerryLarios
Any update on this?

Thanks

[2020-10-08 05:47] mhalsubhi commented on #64
@lelouchB sure, I would like to collaborate with @guzbarraf, so we will divide it into two tasks

1. fetch data from API using [Axios ](https://github.com/axios/axios)as dev dependency.
2. seed database with fetched data with `npm run seed`.

@guzbarraf choose what task you would like to work on and I'll pick the other one 👍🏼

[2020-10-08 05:50] lelouchB commented on #5
@trybick
Would you like to work on the tests in `frontend` i.e. `docusarus` while `backend` tests are being made?

In this Workflow, we will add both these tests.

[2020-10-08 06:05] guzbarraf commented on #64
I am happy to collaborate with you @mhalsubhi and I take the first task

[2020-10-08 06:13] #3 closed

[2020-10-08 06:22] mhalsubhi commented on #64
@guzbarraf  so I'm I 👍🏼 , we will create `seeder.js` in the `backend` folder, in the file data will be fetched using Axios, after you complete it, please mention me so I can use your fetched data to seed database.

[2020-10-08 08:42] lelouchB commented on #3
@SeguinLoic
I have shipped this to production
Check it out here
https://finalspaceapi.com/api/v0/character

[2020-10-08 08:42] lelouchB commented on #41
Hey @MrDoomy
I have shipped this to production
Here is the blog for the same
https://finalspaceapi.com/blog/episode/

[2020-10-08 08:43] lelouchB commented on #45
Hey @MrDoomy
I have shipped this to production
Here is the blog for the same
https://finalspaceapi.com/docs/episode

[2020-10-08 08:44] lelouchB commented on #24
Hey @Joaolfelicio
I have shipped this to production
Here is the blog for the same
https://finalspaceapi.com

[2020-10-08 08:44] lelouchB commented on #4
Hey @GerryLarios
I have shipped this to production
Here is the blog for the same
https://finalspaceapi.com/blog/episode/

[2020-10-08 08:52] MrDoomy commented on #45
Very nice! 👌
I ❤️ **Final Space**, so keep doing a good job! 😎

[2020-10-08 09:01] Pervolarakis commented on #43
would you like me to do this one?

[2020-10-08 09:26] lelouchB opened #75 "Add LIMIT param Documentation"
Following #43 and #74
Limit param will soon be shipped to production, add proper documentaion to both `character`  and `endpoint` .

Follow this as inspiration
https://finalspaceapi.com/docs/character#sort-the-response

[2020-10-08 09:27] lelouchB commented on #75
@Pervolarakis
Interested in this one ?

[2020-10-08 09:32] lelouchB commented on #45
@MrDoomy
This is the blog
https://finalspaceapi.com/blog/episode

[2020-10-08 10:08] #43 closed

[2020-10-08 10:09] MrDoomy commented on #45
@lelouchB
Thanks for the mention on the blog 🙏, but my hyperlink is broken:
~https://github.com/MrDommy~ => https://github.com/MrDoomy 😅

[2020-10-08 10:10] mhalsubhi commented on #75
Hello @lelouchB may I take this one?

[2020-10-08 10:10] lelouchB commented on #45
Oh
I am so sorry
I will update it just now.
Thanks for letting m know.

[2020-10-08 10:13] lelouchB commented on #75
Yes, @mhalsubhi
If you can do this quickly.

Thanks

[2020-10-08 10:15] mhalsubhi commented on #75
@lelouchB ok 👍🏼  I'm on it

[2020-10-08 10:16] lelouchB commented on #75
Thanks 👍
The thing is I am about to ship LIMIT into production and wanted the documentation to be completed as soon as possible.
Thanks for your understanding.

[2020-10-08 10:19] lelouchB commented on #45
@MrDoomy
Updated

[2020-10-08 10:26] lelouchB commented on #75
Hey @mhalsubhi
Also include something like this
[code]

[2020-10-08 11:24] trybick commented on #5
I'm happy to do the workflow, but will pass on the tests, but thanks for the offer.

[2020-10-08 12:36] CodingCarter opened #78 "API Endpoint Creation optimization"
**Is your feature request related to a problem? Please describe.**
We should make it so that api endpoints/urls are not repeated in the back-end code at all.  All of the endpoints should be pulled from an endpoints file that gives you all of the data to handle the requests.

**Describe the solution you'd like**
I already created an `endpoints.js` in [a PR](https://github.com/lelouchB/final-space-a

[2020-10-08 12:42] #78 closed

[2020-10-08 12:50] fluentinstroll commented on #33
Hey @lelouchB

I should have a pull request up today for this issue.

[2020-10-08 12:52] lelouchB commented on #33
@fluentinstroll Awesome
Looking forward to it.

[2020-10-08 12:58] sno2 opened #79 "API Response Restructure"
**Is your feature request related to a problem? Please describe.**
Currently, all character and episode endpoints just return the `character`/`episode` json or an `array` of the `character`/`episodes` that match the request.

**Describe the solution you'd like**
I think that all correct responses should have one of the following formats:
[code]
or
[code]
Of course, the response `status` should mat

[2020-10-08 13:06] lelouchB commented on #79
@CodingCarter
This is great, this will be really awesome and helpful.

I will guess I will include this in `v2` but go ahead and work on this.

I will assign this to you.

Looking forward to this.

[2020-10-08 13:07] CodingCarter commented on #79
Great, I have school right now, but I will have this done by tonight.

[2020-10-08 13:08] lelouchB commented on #79
No problem
You can take your time.

[2020-10-08 13:11] #75 closed

[2020-10-08 13:24] lelouchB commented on #32
@bobluppes
If you could use the `episode` endpoint in the example.

https://finalspaceapi.com/docs/episode

[2020-10-08 13:26] bobluppes commented on #32
Oh cool, is the endpoint finished now. Will definitely use it then. Expect a PR this evening or tomorrow morning

[2020-10-08 13:31] lelouchB opened #80 "Add limit query to React example"
Live Example on https://finalspaceapi.com/docs/react
is currently using `data.slice(0,5)` to limit the character cards..

Now that `limit` query is finished, update this example with the `limit` query.

Resource
https://finalspaceapi.com/docs/character#limit-the-response

[2020-10-08 13:45] JuanVqz commented on #2
Yes I’m working on test in backend

[2020-10-08 13:46] CodingCarter opened #81 "All Endpoints Except `/` are Broken on Development"
**Describe the bug**
I just followed all steps mentioned in the README for running the backend in development.  After running `npm run serve` in the `backend` directory, though, `localhost:8000` is not returning any data when sending a request to `http://localhost:8000/api/v0/character` or any of the other endpoints besides `http://localhost:8000/api/v0/`.

**To Reproduce**
Steps to reproduce the

[2020-10-08 13:49] lelouchB commented on #81
@CodingCarter
I know about this
This is already in progress in #64 to add test data for local dev environment
So, I am going to close this issue.
Thanks

[2020-10-08 13:49] #81 closed

[2020-10-08 13:49] JuanVqz commented on #81
It is because as you can see in your image above you haven connection with the database

[2020-10-08 13:51] lelouchB commented on #81
@JuanVqz and @CodingCarter
Only the droplet have connection to database.

@CodingCarter
You can use dummy data for now.

[2020-10-08 14:00] PSmigielski commented on #80
can you assign me to this task?

[2020-10-08 14:00] lelouchB commented on #80
@PSmigielski
Ofcourse

[2020-10-08 14:06] lelouchB opened #83 "Add Announcement Bar to Frontend"
Docusaurus has a very cool announcement bar:

![image](https://user-images.githubusercontent.com/45850882/95468997-b6b81e80-099c-11eb-8cd3-8a79155737da.png)

Add something similiar to this to `frontend`.
**Please don't copy it as it is, add some original text to engage the visitors like a small fun or comic quote.**

Resource
https://v2.docusaurus.io/docs/theme-classic/#announcement-bar

[2020-10-08 14:11] lelouchB commented on #5
Hey @trybick
`backend` tests are in progress, in the mean time
Can you start on the frontend CI workflow that tests if the `frontend` build command i.e.` npm run build` is successful or not.

Let me know if you have any questions.

[2020-10-08 14:11] MrDoomy commented on #83
Hi @lelouchB 👋
I'd like to work on it tonight, can you assign this to me? 🙂

[2020-10-08 14:12] lelouchB commented on #83
Of course @MrDoomy  👍
I will assign this to you.

Thanks

[2020-10-08 14:12] trybick commented on #5
Yes I can start on the workflow - I should be able to start it tonight or next night 👍

[2020-10-08 14:14] lelouchB commented on #5
Great 👍
here is a resource on this
https://v2.docusaurus.io/docs/deployment/#using-azure-pipelines
https://v2.docusaurus.io/docs/deployment/#triggering-deployment-with-travis-ci

P.S. no deploy command needed, only build

Thanks :)

[2020-10-08 14:17] trybick commented on #5
@lelouchB I am confused about those two links - the original issue at the top has an example of a github workflow to run the tests, right? I thought that would do it

[2020-10-08 14:20] lelouchB commented on #5
Yes, the issue is for tests but there are tests for `frontend` so currently a workflow to check `build` will be really helpful. because of the issues related to frontend.

After the `backend` tests are done, workflow will be updated to accomodate them

Does this make sense?
Let me know if you have any other questions

[2020-10-08 14:25] #80 closed

[2020-10-08 14:27] trybick commented on #5
Still a little confused - We want a workflow to run the tests but those are on hold until backend tests are done. In the mean time we want to a workflow to run the build command? Does it need to deploy anywhere - or just check that build is successful?

[2020-10-08 14:29] lelouchB commented on #5
Yes that's correct.

I am fine with `build` only but if you want you can add deploy command too. It can be helpful to see actual changes.
What do you think?

[2020-10-08 14:31] trybick commented on #5
Ok, just to confirm, the build workflow would just confirm the build is successful and then exit right? If we wanted to deploy too I think that would involve a lot more

[2020-10-08 14:32] lelouchB commented on #64
Hey @guzbarraf and @mhalsubhi
See #85
You can use this in the issue.

[2020-10-08 14:34] lelouchB commented on #5
Yes, it will tell if the build is successful and then exit.
yep, the deployment preview will involve a lot more so we can take it step by step. `build` is a priority right now so we should proceed with it first.

Thanks

[2020-10-08 14:35] GerryLarios commented on #16
@lelouchB working on in, I'll get it done in a few hours.

[2020-10-08 14:35] trybick commented on #5
Ok, thanks for clarifying!

[2020-10-08 14:37] lelouchB commented on #16
@GerryLarios
Awesome
Looking forward to it.

Have you checked out this
https://finalspaceapi.com/blog/episode

[2020-10-08 14:38] GerryLarios commented on #16
@lelouchB thanks for the mention! <3

[2020-10-08 15:43] MrDoomy commented on #83
Hello again @lelouchB
I just create a PR right here 👉 https://github.com/lelouchB/final-space-api/pull/88
Let me know if it doesn't fit, I'll change that quickly 😉

[2020-10-08 15:47] lelouchB commented on #83
@MrDoomy
It is perfect
I will ship it to production sometime tommorow.

Thanks 😊

[2020-10-08 15:47] #83 closed

[2020-10-08 15:59] lelouchB opened #89 "Update output of base endpoint in docs/intro"
Following  #78
The response from `https://finalspaceapi.com/api/v0` has changed but the same has not been updated here
https://finalspaceapi.com/docs/

Update the output of the base endpoint.
https://github.com/lelouchB/final-space-api/blob/main/frontend/docs/intro.md

[2020-10-08 16:05] PPInfy commented on #89
Can I take it?

[2020-10-08 16:06] lelouchB commented on #89
Hey @PPInfy
Yeah sure
I will assign it you

Let me know if you have any questions.

[2020-10-08 16:08] mhalsubhi commented on #64
@lelouchB ok 👍🏼, If you want this to be done quickly, I will work on it and send PR shortly

[2020-10-08 16:11] lelouchB commented on #64
@mhalsubhi
I will appreciate if it can be done quickly  but I am in no rush.
Take your time.
Thanks 😊

[2020-10-08 17:33] mhalsubhi commented on #64
@lelouchB @guzbarraf  I'm excited to apply this feature, so I send PR #91 👍🏼

[2020-10-08 17:37] lelouchB opened #92 "Demonstrate how to seed the local database"
Following  #91
Demonstrate with proper images and commands how to seed the local database.

Assigned to @mhalsubhi

[2020-10-08 17:40] guzbarraf commented on #64
@lelouchB i have the code for the task 1

[2020-10-08 17:40] mhalsubhi commented on #92
Hey @lelouchB 👋🏼

[2020-10-08 17:47] mhalsubhi commented on #92
@lelouchB thank you, I will work on it sometime tomorrow 👍🏼

[2020-10-08 17:47] lelouchB commented on #64
@guzbarraf
I guess this issue is almost complete
But you can go ahead and send the PR, I will approve it so that it can be counted as a valid Hacktoberfest contribution.

Can you let me know what king of issues you are interested on frontend, backend, test, bugs, etc.
And I will try to come up with an issue for you and assign it you .

Thanks

[2020-10-08 18:04] guzbarraf commented on #64
@lelouchB
that sounds great i will submit the PR and be interested in some frontend.

Thanks

[2020-10-08 18:11] lelouchB commented on #64
Great 👍
I will create some frontend issues and mention you.
How about #32 ?
You have to create examples in language and frameworks of your choice.

[2020-10-08 18:32] PPInfy commented on #89
Done in PR #96 . Please check.

[2020-10-08 18:37] lelouchB opened #97 "Generate 300x300 images for location endpoint"
Following  #95 location endpoint will be live soon.

Create images for all the different locations present in #95

Images should be 300x300 jpeg

[2020-10-08 18:46] lelouchB opened #98 "Add documentation for Location endpoint"
Following #95 and #97
Add documentation for location endpoint

You can take reference from episode and character endpoint documentation.

[2020-10-08 18:47] ErickLemos commented on #97
I would like to contribute on this

[2020-10-08 18:57] tim-richter commented on #98
Hey @lelouchB , I could give this a shot!

[2020-10-08 19:17] ErickLemos opened #101 "Creatures Endpoint"
new functionality that returns creatures that are part of Final Space.

[2020-10-08 19:24] fgxhammer commented on #97
Hey i would take a look at this! Please assign.

[2020-10-08 20:55] #101 closed

[2020-10-08 21:25] fluentinstroll commented on #33
@lelouchB

Hello! Just providing an update for you: I've been working on this for a few hours now and have hit a couple snags, I want to start by saying I'm fairly new to React and Docusaurus so I thought I'd document this in case you have any insight.

The first was when trying to use "useBaseUrl" like my below example, the <Image> tag was throwing errors.

[code]
Instead, I decided to go with a

[2020-10-09 04:16] lelouchB commented on #98
Sure @tim-richter
I will assign this to you.

[2020-10-09 04:19] harsh599 commented on #33
Yes I have also been working on this issue parallely along with you I am also stuck at this point only having same **"height of undefined"**type error

[2020-10-09 04:19] harsh599 commented on #33
![image](https://user-images.githubusercontent.com/31313683/95542909-b8252d80-0a14-11eb-8c72-af42d98a95f2.png)

[2020-10-09 04:22] lelouchB commented on #33
@harsh599 and @fluentinstroll
I understand your issue, I am exploring it.
Will get back to you on this.
Thanks

[2020-10-09 04:30] lelouchB commented on #89
@PPInfy
Nice Work 👍

[2020-10-09 04:30] #89 closed

[2020-10-09 06:07] lelouchB opened #107 "Complete Greetings workflow"
I started on creating Gretting's workflow but didn't complete it.

It can be found here
https://github.com/lelouchB/final-space-api/blob/main/.github/workflows/greetings.yml

Complete this with some fun and comic quotes or references to the show, it all about your creativity.
Chookity! Chookity!

P.S. Encourage people to start this repo.  :)

[2020-10-09 06:08] lelouchB commented on #107
@MrDoomy
Are you interested in this?

[2020-10-09 07:17] MrDoomy commented on #107
Hi @lelouchB 👋
For sure, I can push you something tonight 😎

[2020-10-09 07:20] lelouchB commented on #29
@mahendrarathore1742
Since there is no update, I am unassigning you.

[2020-10-09 07:21] lelouchB commented on #29
@Skr-suyash
Still interested in this?

[2020-10-09 08:56] PSmigielski commented on #32
Could i make vanilla JS and axios examples ?

[2020-10-09 09:04] lelouchB commented on #32
Sure @PSmigielski

[2020-10-09 09:37] lelouchB commented on #5
Hey @trybick
Lint script has been added to backend, do you think you  an add it to workflow?

Thanks

[2020-10-09 11:15] trybick commented on #5
Hey @lelouchB sure! Would that be a new workflow to just run the lint command in the backend?

I also was thinking, would you want a pre-commit hook added? - so every time someone commits it lints and prettifies the code - an option if you want to consider :)

[2020-10-09 11:16] lelouchB commented on #5
Yes yes that pre commit hook would be amazing too.

[2020-10-09 11:57] Skr-suyash commented on #29
Sure, I can do this but I am not able to understand how to add a 404 page to be displayed in Docasaurus

[2020-10-09 12:00] lelouchB commented on #29
@Skr-suyash
Here is a resource on this, take your time. Go through them and try to implement them and let me know
https://v2.docusaurus.io/docs/static-assets/#caveats

Alternatively you can try exploring dousaurus GitHub repo for a fix.

[2020-10-09 13:17] #92 closed

[2020-10-09 13:28] lelouchB opened #115 "Add status icon to Character endpoint"
If we can send a `character` status icon, for example a **green**  filled circle for a character that is alive.

It will save a lot of time for devs who are trying to show status using colored icons.

For example
![image](https://user-images.githubusercontent.com/45850882/95587187-5b029980-0a5f-11eb-882f-4369f18c8232.png)

For this we will have to create an icons (preferrably 50x50) jpeg. We only

[2020-10-09 13:53] ErickLemos commented on #115
i can keep it

[2020-10-09 13:54] lelouchB commented on #115
Hey @ErickLemos
Can you also update the docs with issue.

Like the schema and example requests, etc. in `characteer.md`

[2020-10-09 13:56] ErickLemos commented on #115
yes i can, i will do it!
Something more?

[2020-10-09 14:00] lelouchB commented on #115
Not right now but if I think of something, will let you know.

Thanks

[2020-10-09 14:01] MrDoomy commented on #97
Hey @lelouchB 👋
I started to work on this part. I already have a set of thumbnails for the 400x300 resolution (the 300px width being too small)... Could this match? 🤔

[2020-10-09 14:02] lelouchB commented on #97
Awesome 👍
400x300 is great too.
I will assign this to you.
Thanks

[2020-10-09 14:03] #64 closed

[2020-10-09 15:12] Skr-suyash commented on #29
I would like to work on this, let us see if it works. 😅

[2020-10-09 15:48] lelouchB commented on #29
Go for it 👍

[2020-10-09 16:09] #97 closed

[2020-10-09 19:38] harsh599 commented on #115
Hello @lelouchB  I have been so near about achieving the results just need your help as my images are breaking dont know why I have kept my icons in img folder and accessing them as 'img/filename.jpg' but dont get the point as why images are breaking

It would be great if you can help!!
![image](https://user-images.githubusercontent.com/31313683/95624687-e5b1bb80-0a94-11eb-840c-34abd99b22d0.png)

[2020-10-10 03:50] lelouchB commented on #115
Hey @harsh599
No problem, I think know the problem but just to be sure can you send a PR with your code.

Thanks

[2020-10-10 03:53] harsh599 commented on #115
Yes Sure Thankyou @lelouchB

[2020-10-10 04:45] harsh599 commented on #115
Hey I am facing issue file comitting my changes I am stuck at point to push my content to repo its showing access denied issue
![image](https://user-images.githubusercontent.com/31313683/95645971-7ca46500-0ae1-11eb-8898-b3ede9391644.png)

[2020-10-10 04:47] lelouchB commented on #115
Hey @harsh599
I guess your repo is not updated with the latest commits, might wanna do that before pushing changes?

[2020-10-10 05:05] lelouchB opened #120 "Add Prettier and Husky to frontend"
@JuanVqz  Did a great job adding husky and prettier to `backend` to format code when commiting.
See #112

[code]

Add same thing to `frontend` folder.

[2020-10-10 05:22] harsh599 commented on #115
Hello @lelouchB  I have made a PR request successfully kindly check it out.

[2020-10-10 06:03] #98 closed

[2020-10-10 06:50] lelouchB commented on #16
Hey @GerryLarios
https://finalspaceapi.com/blog/location
Its live

[2020-10-10 06:51] lelouchB commented on #98
Hey @tim-richter
https://finalspaceapi.com/blog/location
Its live

[2020-10-10 06:51] lelouchB commented on #97
Hey @MrDoomy
https://finalspaceapi.com/blog/location
Its live

[2020-10-10 09:15] binkpitch commented on #120
Can i take this issue?

[2020-10-10 09:35] lelouchB commented on #120
@binkpitch
Sure
I have assigned this to you.
Let me know if you have any questions.

[2020-10-10 09:39] binkpitch commented on #120
@lelouchB Any specific linting settings (for `.eslintrc` and `.prettierc`) that I should be aware of?

[2020-10-10 09:56] lelouchB commented on #120
@binkpitch
Nothing special, I am fine with standard stuff for these.
Here is code for backend
https://github.com/lelouchB/final-space-api/blob/main/backend/.eslintrc.js
https://github.com/lelouchB/final-space-api/blob/main/backend/.prettierrc.json

[2020-10-10 14:12] GerryLarios commented on #16
Thanks for the mention, looks nice 👍

[2020-10-11 07:40] #29 closed

[2020-10-11 07:41] #18 closed

[2020-10-11 07:42] lelouchB commented on #115
@ErickLemos
Any word on this?

[2020-10-11 14:41] ErickLemos commented on #115
hello, sorry for the delay, I had some personal problems, I will return to the project tomorrow!

[2020-10-11 14:42] lelouchB commented on #115
Yeah yeah
No rush
Take your time 👍

[2020-10-12 12:24] Devdre1909 commented on #32
Hi @lelouchB, can I make Vue and Axios Examples?

[2020-10-12 12:29] lelouchB commented on #32
@Devdre1909
yeah Sure,
As you already know this will be static example.
Be as creative as you can.

Use `location` endpoint and add screenshot of the Output too.

[2020-10-12 17:24] lelouchB commented on #107
hey @MrDoomy
Any word on this?

[2020-10-12 17:25] lelouchB commented on #2
Hey @JuanVqz
What's the update on this?

[2020-10-12 17:49] JuanVqz commented on #2
@lelouchB I'm working on the file structure before this one I had a break in the weekend I'll continue this week, sorry.

[2020-10-12 17:50] MrDoomy commented on #107
Oh sorry! 🙏
I pushed something here: https://github.com/lelouchB/final-space-api/pull/116
What do you think about this? 🤔

[2020-10-12 17:50] lelouchB commented on #2
No problem
Just wanted an update
Thanks

[2020-10-13 03:25] #107 closed

[2020-10-13 10:13] #120 closed

[2020-10-13 13:16] ErickLemos commented on #115
I went back to the project, spent a few days out, sorry.

[2020-10-13 18:07] lelouchB commented on #115
@harsh599
You up for this?

[2020-10-14 07:40] lelouchB opened #129 "Add `serve-favicon` to backend"
Add `serve-favicon` to `backend/server.js`

Reources: https://www.npmjs.com/package/serve-favicon

[2020-10-14 08:26] ayush015 commented on #129
Can I try this ?

[2020-10-14 08:27] lelouchB commented on #129
@ayush015
Sure 👍

[2020-10-14 08:28] lelouchB commented on #129
Assigned it you.

Let me know if you have any questions.

[2020-10-14 10:03] slorber commented on #33
@harsh599 if you want me to help,  please open a good bug report.

https://v2.docusaurus.io/docs/using-plugins/#docusaurusplugin-ideal-image

I don't think using dynamic require paths with template literal strings is a good idea. Try to use constant paths.

Also, I wonder if there's not a typo in our documentation. For require() calls, you should read the default export, so maybe try to add a `.de

[2020-10-15 13:16] lelouchB commented on #129
Hey @ayush015
Any word on this ?

[2020-10-15 13:19] ayush015 commented on #129
working on it . Will try to finish it by today

[2020-10-15 18:39] ayush015 commented on #129
@lelouchB Done please review #131

[2020-10-15 23:33] guzbarraf commented on #115
Hi @lelouchB is this issue still available?

[2020-10-16 03:42] lelouchB commented on #115
@guzbarraf
Yes
I will assign it you

[2020-10-16 03:48] guzbarraf commented on #115
thanks @lelouchB, tomorrow I'll upload the PR

[2020-10-27 04:12] #115 closed

[2020-10-27 04:13] lelouchB commented on #2
@JuanVqz
Is there any update on this?

Thanks

[2020-10-28 04:25] guzbarraf commented on #32
Hi @lelouchB, give me the example in angular

[2020-10-28 04:26] lelouchB commented on #32
Awesome
Thanks @guzbarraf

[2020-10-28 06:25] lelouchB opened #135 "Embed Weibenfalk video on Final Space API to Examples section"
Embed Weibenfalk video in Examples section

https://youtu.be/zmwG5lYQYRo

P.S. make sure to add links to his Twitter, website etc.

[2020-10-28 10:42] tiana30 commented on #135
hello i want to take this issue

[2020-10-28 10:44] lelouchB commented on #135
Awesome
Assigning to you @tiana30

[2020-10-28 10:52] lelouchB opened #136 "Highlight import lines in Example pages"
Highlight important lines in the code snippets in Examples.

For example in the `frontend/docs/react.mdx`, you can highlight the `useEffect()` and axios fetching code lines.

Resource
https://v2.docusaurus.io/docs/markdown-features/#line-highlighting

P.S just highlight the few important lines like where data is fetched, used, etc.

[2020-10-28 10:54] lelouchB commented on #135
Hey @tiana30
This resource maybe helpful
https://www.slideas.app/blog/how-to-embed-a-vimeo-or-youtube-video-in-markdown/

[2020-10-28 11:49] lelouchB commented on #136
Assigned to @bgildson

[2020-10-28 11:50] bgildson commented on #136
Hey @lelouchB, could I take this one?

[2020-10-28 11:50] lelouchB commented on #136
Done ✔

[2020-10-30 11:38] lelouchB commented on #136
Hey @bgildson
Any update on this?

[2020-10-30 11:38] lelouchB commented on #135
Hey @tiana30
Any update on this?

[2020-10-30 12:31] bgildson commented on #136
I have added highlight to the `frontend/docs/react.mdx` in the main code snippets pieces on #137

[2020-10-30 12:38] lelouchB commented on #136
Yes, I saw that
Great work 👍

But as said in my review, the issue is for all the examples and not just one.
So, please update other examples too.

Thanks

[2020-10-30 15:33] #136 closed

[2020-10-31 06:31] lelouchB commented on #33
Closing this issue
Two reasons
- Images on the frontend are already in webp format
- Further investigation will be required to implement this.

Thanks @fluentinstroll

[2020-10-31 06:31] #33 closed

[2020-10-31 07:21] adityatandon007 commented on #135
@lelouchB can I take this if it is not being taken. One more thing does this video needs to be embedded to the https://github.com/lelouchB/final-space-api/blob/main/README.md section or inside the docs in intro.md

[2020-10-31 07:25] lelouchB commented on #135
Hey @adityatandon007
Thanks for your interest, I have pinged @tiana30
Let's just wait a day for her reply  and there is still no updates, I will assign this issue to you.

The video will in a separate page under `Examples` section in the docs.
Hope that answers your question

[2020-10-31 10:28] tiana30 commented on #135
hello, i'm sorry to inform you i think there is something wrong with my internet connection i can't clone this project to my computer.
So you can assign anyone who interested.

[2020-10-31 10:32] lelouchB commented on #135
@tiana30  No problem

@adityatandon007  assigned to you
Let me know if you have any questions

[2020-10-31 14:07] adityatandon007 commented on #135
@lelouchB please review and merge

[2020-11-01 05:57] #129 closed

[2020-11-01 05:57] #20 closed

[2020-11-01 06:01] #135 closed

[2020-11-01 07:46] lelouchB commented on #79
Hey @sno2
Any update on this?

[2020-11-06 04:00] lelouchB commented on #2
@JuanVqz

[2020-11-06 13:49] JuanVqz commented on #2
Not yet, sorry I lost my brother in law. I'll do it but I don't know when

[2020-11-06 13:53] lelouchB commented on #2
I am so sorry @JuanVqz
I didn't know

Take all the time you need.

[2020-11-15 14:01] lelouchB opened #140 "Quotes Endpoint"
*What is this `./endpoint` about ?*
Final Space has some great fun quotes by its characters.
This endpoint will be sending quotes.

Maybe after initial setup add a filter that will send quotes from a specific character.

*What is the schema ?*
[code]

[2020-11-15 14:04] lelouchB opened #141 "Contribute data to Quote endpoint"
Contirbute data to  `quote` endpoint.

Make the PR to `endpoint` branch.

[2020-11-16 18:39] Mayank0255 commented on #140
@lelouchB could I try this one?

P.S. - I am new to Open Source Contribution, but, I am not new to web development with React, Node.js and MongoDB

[2020-11-17 02:38] lelouchB commented on #140
@Mayank0255
Ofcourse
This is the endpoint suggestion issue of Quotes endpoint

Can you comment on #141 so I can assign it to you

Thanks

[2020-11-17 06:17] Mayank0255 commented on #140
@lelouchB sure will do that right away and kindly explain it to me a little that you want this endpoint to be built with our imagination right? You have provided us what it should do and a brief about the schema

[2020-11-17 06:19] Mayank0255 commented on #141
@lelouchB I would like to take up this issue and for that I want you to reactify some of my queries as well like what's the process of contributing data to any endpoint as there ain't any CREATE or UPDATE routes, or something else.

[2020-11-17 06:33] lelouchB commented on #141
@Mayank0255
Sure so this issue is specific for the contributing data to the quote endpoint.

For this issue, you will have to send a PR with different quotes in a JSON format to the `endpoint` branch.

You can google Final Space quotes and copy the quotes from there and create one quote with indormation as per the schema.
For example

[code]

After around 30 - 50 quotes, I will create more issues

[2020-11-17 06:33] Mayank0255 commented on #79
@lelouchB If @sno2 is not doing it, then can I do this one?

P.S. I know I have said for the quote endpoint too but I would like to start from here and then head to that

[2020-11-17 06:34] lelouchB commented on #140
Answered here https://github.com/lelouchB/final-space-api/issues/141#issuecomment-728718700

[2020-11-17 06:37] lelouchB commented on #79
@Mayank0255

This is an enhancement issue and its not a priority for me.
If you want I can assign this to you and you can start working on it.

But I will most likely include this update in v2 of the API i.e. with GraphQL support.

[2020-11-17 06:41] Mayank0255 commented on #141
@lelouchB I think I am interested in it just two things that in the endpoint branch should I pull from `main` too or just work with the existing code in endpoint? Secondly this json I can prepare and where do I have to put it? Should I create a Quotes folder and add the json file over there?

[2020-11-17 06:43] Mayank0255 commented on #79
@lelouchB

Okay I think you are right we should leave that for now.

[2020-11-17 06:44] lelouchB commented on #79
@Mayank0255
Sure 👍

[2020-11-17 06:46] lelouchB commented on #141
You can work with the existing code, after the JSON is completed. I will add it to the database so it doesn't matter where you add the JSON in `endpoint` branch.
Sure, create a `quotes` folder, if you want.

[2020-11-17 07:05] Mayank0255 commented on #141
@lelouchB

Perfect will begin with the json first then create the endpoint. Right?

[2020-11-17 07:06] lelouchB commented on #141
Yeah
So, Should I assign this to you?

[2020-11-17 07:07] Mayank0255 commented on #141
@lelouchB ya please do that

[2020-11-17 11:20] #141 closed

[2020-11-17 11:36] Mayank0255 commented on #140
@lelouchB

After you would have added the quotes data to the database, could you provide me with the `.env` file as or else to test out the endpoints I would have to add some data of my own

[2020-11-17 11:38] lelouchB commented on #140
Are you talking about testing quotes endpoint or all endpoints in general ?

[2020-11-17 11:46] Mayank0255 commented on #140
@lelouchB Ya I'm talking about that only

[2020-11-17 11:49] lelouchB commented on #140
For active endpoints you can run `npm run seed`  in the backend directory which will fill your local MongoDB collection with data from API
You can manually add `quotes` to that collection for local development.

Refer here. https://github.com/lelouchB/final-space-api/blob/4a0b007ce782c45db877882aee560240916af7a9/backend/package.json#L13

[2020-11-17 11:50] Mayank0255 commented on #140
Cool got it

[2020-11-17 11:52] lelouchB opened #143 "Create route for Quotes Endpoint"
#140
To Do
- Create `quote.model.js` under `backend/models`
- Create `quote.api.js` in `backend/controllers` directory
- Add `quotes` to `routes/routes.js`
- Add `quote` to `config/endpoints.js`

[2020-11-17 12:31] Mayank0255 commented on #143
@lelouchB What's the difference between the two issues?

[2020-11-17 12:32] lelouchB commented on #143
That is the global issue around this whole endpoint.

This is a specific issue.

After this is done. I will create issues for documentation.

Can I assign this to you?

[2020-11-17 12:34] Mayank0255 commented on #143
Sure no issues

[2020-11-17 13:14] Mayank0255 commented on #143
@lelouchB What routes do you need me to add?

Just `GET all quotes`?

[2020-11-17 13:18] lelouchB commented on #143
Yes for now `GET all quotes` is fine.
I am also thinking of adding a filter of name in this endpoint where users can give a query something like `/api/v0/quote/gary` or ` /api/v0/quote?by=gary_goodspeed`. Just a thought.

But yeah, for now `GET` all is perfect.
Also add the `sort` and `limit` config as added in other endpoints.

[2020-11-17 13:26] Mayank0255 commented on #143
@lelouchB

Cool would do all that and ping me after this issue when you think of implementing the filtering thing and other routes

[2020-11-17 13:32] lelouchB commented on #143
Of course
Will do so.

[2020-11-17 13:39] Mayank0255 commented on #143
Where to write the test for the route? And I have to write the docs for quotes as well write?

[2020-11-17 13:42] lelouchB commented on #143
There are no tests as of now. It is under development by @JuanVqz

It's your choice, you can write the docs or just work on the code.
I will either create an issue and assign someone for the documentation or write them myself.

[2020-11-17 13:43] Mayank0255 commented on #143
Okay then will just create a PR

[2020-11-18 06:43] #143 closed

[2020-11-18 07:53] lelouchB commented on #140
@Mayank0255
Quotes endpoint is live.

Thanks to your contribution, I was able to ship it into production.

https://finalspaceapi.com/blog/quote
https://finalspaceapi.com/api/v0/quote

[2020-11-18 07:53] #140 closed

[2020-11-18 07:57] Mayank0255 commented on #140
@lelouchB

Thanks a lot Ashutosh and the mention on the blog also means a lot.

[2020-11-18 07:59] lelouchB commented on #140
NP
👍
If you want you can also create an example for this endpoint under the Examples section
https://github.com/lelouchB/final-space-api/issues/32

Thanks :)

[2020-11-18 08:30] Mayank0255 commented on #140
Not at the moment but will ping you later on if I get time for it

[2020-12-30 18:39] fullstackmafia commented on #32
Hi @lelouchB  - I took a look at this and I think it's awesome. Could I make an example with SvelteJS and Axios?

[2020-12-31 04:57] lelouchB commented on #32
@fullstackmafia  Sure, Go for It!
Let me know if you have any questions.

[2021-06-30 04:46] lelouchB commented on #16
Hey @GerryLarios
If interested, please let me know. Else I will re assign this issue to someone else.

Thanks

[2021-06-30 04:47] lelouchB commented on #4
Hey @GerryLarios
If interested, please let me know. Else I will re assign this issue to someone else.

Thanks

[2021-06-30 04:48] lelouchB commented on #41
Hey @MrDoomy
If interested, please let me know. Else I will re assign this issue to someone else.

Thanks

[2021-06-30 06:30] MrDoomy commented on #41
Hi @lelouchB,
It's been a while!
Yep, I'll do this 😉

[2021-06-30 08:44] lelouchB opened #156 "Migrate Images to Cloudinary"
**Is your feature request related to a problem? Please describe.**
Currently the images are stored in the local directory and are sent from the same.

**Describe the solution you'd like**
Migrate all the images to Cloudinary.

## With Cloudinary, users will be able to resize, crop and transform images as per their app requirements.

[2021-07-05 08:11] #16 closed

[2021-07-05 08:11] #4 closed

[2021-08-16 13:53] lelouchB opened #157 "Examples button on Homepage points to redundant route."
![image](https://user-images.githubusercontent.com/45850882/129574646-aecf0d47-8418-4fbb-8017-0ad7fbc1fa84.png)

[2021-08-16 14:15] ranjithjupaka commented on #157
i would like to work on this issue

[2021-08-16 14:21] lelouchB commented on #157
Hey @ranjithjupaka
Sure

Its simple enough, the Examples button on homepage should point to https://finalspaceapi.com/docs/examples/react/

It would not even require you to set up the project.

I'll assign this to you.

Let me know if you have any questions.

[2021-08-16 15:00] ranjithjupaka commented on #157
Tq sir Sent from Mail for Windows From: ASHUTOSH KUMAR SINGHSent: 16 August 2021 19:51To: lelouchB/final-space-apiCc: Ranjith jupaka; MentionSubject: Re: [lelouchB/final-space-api] Examples button on Homepage points to redundant route. (#157) Hey @ranjithjupakaSureIts simple enough, the Examples button on homepage should point to https://finalspaceapi.com/docs/examples/react/It would not even requ

[2021-08-16 15:01] ranjithjupaka commented on #157
ok sir

[2021-08-17 03:14] ranjithjupaka commented on #157
hello, sir I am a bit confused regarding the bug actually I was literally breaking my head to understand the bug. finally what I understood was presently the  Examples button on the homepage is  pointing to https://finalspaceapi.com/docs/examples/react/
but it should point to https://finalspaceapi.com/docs/react/ (as seen from the above image)

[2021-08-17 03:21] ranjithjupaka commented on #157
hello, sir I understood what is the bug is! I will soon  fix it  thank you, but I did not understand what do you mean by **you would not even require you to set up the project**

[2021-08-17 03:22] lelouchB commented on #157
Its pointing to https://finalspaceapi.com/docs/react/ but it should point
to https://finalspaceapi.com/docs/examples/react/

The above image is the error.

On Tue, Aug 17, 2021, 8:44 AM Ranjith jupaka ***@***.***>
wrote:

[2021-08-17 03:25] ranjithjupaka commented on #157
ha understood sir thank you how can i fix that without set up??

[2021-08-17 03:26] lelouchB commented on #157
I meant that since the change is only a couple of lines, it's not specifically needed to install the project on your local machine.

This file needs to be edited https://github.com/lelouchB/final-space-api/blob/main/frontend/src/pages/Components/Body/_InfoCointainer.js

You can just edit it in the GitHub itself

[2021-08-17 03:27] ranjithjupaka commented on #157
ok sir I will do it now

[2021-08-17 03:31] lelouchB commented on #157
Also, no need for Sir

Even when contributing to large codebases of Mozilla, MediaWiki, etc,
Project maintainers amd other contributors prefer if you call them with their names.

So, just Ashutosh is fine :)

[2021-08-17 03:46] #157 closed

[2022-08-26 13:45] #32 closed